body {
  margin: 0;
  font-family: monospace;
}

.product {
  width: 80%;
  padding: 10px;
  border: 5px solid gray;
  margin: 30px;
  overflow: auto;
}

#product-collection {
  margin: 2rem;
}

.product img {
  float: left;
  top: 10px;
  padding: 15px;
  width: 200px;
  height: 200px;
}

.product h1 {
  /* position: relative; */
  top: 50px;
  left: 10px;
}

.product h2 {
    text-align: right;
}

.product button {
  float: left;
  margin: 15px;
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
  background: red;
  opacity: .8;
}

.review li {
  overflow: hidden;
  margin-bottom: 50px;
}

.review h2 {
  text-align: left;
}

.review p {
  left: 20px;
}

.current-review button {
  float: right;
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
}

.current-review button:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 2px;
  background: none;

  transition: all 0.3s ease 0s;
}
