body {
    margin: 0;
    font-family: monospace;
  }

.product {
    width: 80%;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    overflow: auto;
  }

  #product-collection {
    margin: 2rem;
  }

  .product img {
    float: left;
    width: 200px;
    height: 200px;
  }

  .product h1 {
    position: relative;
    float: left;
    top: 50px;
    left: 10px;
  }

  .product h2 {
      text-align: right;
  }

  .container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: block;
    background: red;
    opacity: .8;
  }
